@charset "UTF-8";

body {
    padding: 15px;
}

div {
    overflow-x: auto;
}

caption {
    border: 1px solid black;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgray;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin: auto;
}

td, th {
    font-size: 18px;
    padding: 6px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: lightgoldenrodyellow;
}

.notas {
    text-align: right;
}

.col5 {
    background-color: greenyellow;
}