@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    padding-top: 58px;

    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    /*column-gap: 10px;*/

    grid-template-rows: minmax(200px, auto) minmax(68px, 100px);
    /* Configura todas as novas linhas
    grid-auto-rows: minmax(200px, auto); */
    /*row-gap: 10px;*/
    
    /*
    justify-items: center;
    align-items: center;
    */
    
    /* tem também o -align-self- que alinha o item, sendo essa propriedade aplicada no item */
}

.container > div {
    background-color: skyblue;
    padding: 16px;
}

.container > div:nth-of-type(even) {
    background-color: aquamarine;
}

.container > div:nth-child(1) {
    grid-column: 1 / -1;

    border-bottom: 2px solid red;

    width: 100%;
    min-height: 68px;
    max-height: 100px;

    position: fixed;
    top: 0;
    left: 0;
}

.container > div:nth-child(2) {
    grid-column: 1 / -1;
}

.container > div:nth-child(3) {
    grid-column: 1 / -1;

    border-top: 2px solid red;
}